<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/managerheader::headFrag('회원관리')}"></head>
<link rel="stylesheet" th:href="@{/css/board.css(ver=1.0)}">


<body>

	<div th:replace="~{/layout/managerheader::gnbFrag}"></div>

	<div class="all">
		<div class="wrap">
			<table>
				<tr>
					<td>이름</td>
					<td>이메일</td>
					<td>회원상태</td>
					<td>ㅇㅋ?</td>
				</tr>
				<tr>
					<td>쿄쿄</td>
					<td>zz@naver.com</td>
					<td>졸려</td>
					<td>ㅇㅋ?</td>
				</tr>
				<tr>
					<td>쿄쿄</td>
					<td>zz@naver.com</td>
					<td>졸려</td>
					<td>ㅇㅋ?</td>
				</tr>
				<tr>
					<td>쿄쿄</td>
					<td>zz@naver.com</td>
					<td>졸려</td>
					<td>ㅇㅋ?</td>
				</tr>
			</table>
			
		</div>




			<span style="font-size:32px;">총 매출</span>

	</div>
	
	
	
</body>
</html>