<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/managerheader::headFrag('게시판관리')}"></head>
<link rel="stylesheet" th:href="@{/css/member.css(ver=1.0)}">

<body>

	<div th:replace="~{/layout/managerheader::gnbFrag}"></div>

	<div class="all">
		<div class="wrap">
			<form id="frm1" action="@{/manager/search.do}">
				<select name="column" id="column">
					<option th:value="NAME">NAME</option>
					<option th:value="EMAIL">EMAIL</option>
				</select>
				<input class="search_query" type="text" th:name="query" id="query">
				<button>조회</button>
			</form>

			<table>
				<thead>
					<tr>
						<td>회원번호</td>
						<td>이름</td>
						<td>이메일</td>
						<td>비밀번호</td>
						<td>휴대폰번호</td>
						<td>우편번호</td>
						<td>도로명주소</td>
						<td>지번</td>
						<td>상세주소</td>
						<td>가입일자</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="user,vs:${userList}">
						<tr>
							<td th:text="${userNo - vs.index}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.pw}"></td>
							<td th:text="${user.phoneNo}"></td>
							<td th:text="${user.postcode}"></td>
							<td th:text="${user.roadAddress}"></td>
							<td th:text="${user.jibunAddress}"></td>
							<td th:text="${user.detailAddress}"></td>
							<td th:text="${user.joinedAt}"></td>
						</tr>
					</th:block>			
				</tbody>
				<tfoot>
					<tr>
						<td colspan="12" th:utext="${pagination}"></td>
					</tr>
				</tfoot>
			</table>
		</div>

			<span style="font-size:32px;">총 매출</span>

	</div>
	
	
	
</body>
</html>