<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/managerheader::headFrag('매출')}">
</head>
<link rel="stylesheet" th:href="@{/css/sale.css(ver=1.0)}">
<script>
	
	$(document).ready(function(){
		setDateBox();
	});
	
	function setDateBox(){
		var dt = new Date();
		var month = dt.getMonth() + 1;
		var year = dt.getFullYear() + " - ";
		$('.year').text(year);

		for(var m = 1; m <= 12; m++){
			var column = (m == month) ? "column" : "";
			$('#query').append("<option value='" + m + "'" + column + ">" + m + "</option>");
		}
		
	}
	
</script>

<body>

	<div th:replace="~{/layout/managerheader::gnbFrag}"></div>
		<div class="logo-top">
          <img th:src="@{/photo/OCEAN2.png}">
		</div>
	<div class="all">
		<div class="searchbar_1">
			<form id="frm" th:action="@{/manager/sale.html}">
				<span class="year"></span>	
				<select id=query name="query"></select>
				<button class="btn">조회</button>
			</form>
		</div>
		<div class="wrap">
			<ul>
				<li class="listyle">
					<span class="date">구매일자</span>
					<span class="menustyle">메뉴</span>
					<span class="quantity">수량</span>
					<span class="price">가격</span>
				</li>	
					<th:block th:each="order,vs:${orderList}">
				<li class="listyle">
					<span class="date" th:text="${#dates.format(order.orderAt, 'YYYY-MM-dd')}"></span>
					<span class="menustyle" th:text="${order.cdNo.title}"></span>
					<span class="quantity" th:text="${order.count}"></span>
					<span class="price" th:text=" ${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}"></span>
				</li>
					</th:block>
				<li class="page">
					<span th:utext="${pagination}"></span>
				</li>
				<li>
					<span class="total" th:text="|총매출 ${#numbers.formatDecimal(sum, 0, 'COMMA', 0, 'POINT')}|"></span>
				</li>
			</ul>
		</div>
	</div>
	
	
	
</body>
</html>