<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/manageheader::headFrag('게시판관리')}"></head>
<link rel="stylesheet" th:href="@{/css/outmember.css(ver=1.0)}">

<body>

	<div th:replace="~{/layout/manageheader::gnbFrag}"></div>
		<div class="logo-top">
	    	<a th:href="@{/}"><img th:src="@{/photo/OCEAN2.png}"></a>
		</div>	
		<div class="logo-btm">
		    <img th:src="@{/photo/OCEAN2.png}">
		</div>	

	<div class="all">
		<div class="wrap">
			<form id="frm1" th:action="@{/manage/outmember.do}">
				<input class="search_query" type="text" th:name="query" th:id="query">
				<button class="btn"><i class="fa-solid fa-magnifying-glass" ></i></button>
			</form>

			<table>
				<thead>
					<tr>
						<td>회원번호</td>
						<td>이메일</td>
						<td>가입일자</td>
						<td>탈퇴날짜</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="outUser,vs:${outUserList}">
						<tr>
							<td th:text="${outUserNo - vs.index}"></td>
							<td th:text="${outUser.email}"></td>
							<td th:text="${outUser.joinedAt}"></td>
							<td th:text="${outUser.outAt}"></td>
						</tr>
					</th:block>			
				</tbody>
				<tfoot>
					<tr>
						<td class="page" colspan="12" th:utext="${pagination}"></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	
	
	
</body>
</html>