<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::oceanHead('kakaopay실험')}"></head>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
$(function(){
	$("#kakaopayTest").on('submit', function(){
		
		// 필수입력값을 확인.
		var name = $("#kakaopayTest input[name='pay-name']").val();
		var tel = $("#kakaopayTest input[name='pay-tel']").val();
		var email = $("#kakaopayTest input[name='pay-email']").val();
		/* 		
		if(name == ""){
			$("#form-payment input[name='pay-name']").focus()
		}
		if(tel == ""){
			$("#form-payment input[name='pay-tel']").focus()
		}
		if(email == ""){
			$("#form-payment input[name='pay-email']").focus()
		} */
		
		// 결제 정보를 form에 저장한다.
		/* 
		let totalPayPrice = parseInt($("#total-pay-price").text().replace(/,/g,''))
		let totalPrice = parseInt($("#total-price").text().replace(/,/g,''))
		let discountPrice = totalPrice - totalPayPrice 
		let usePoint = $("#point-use").val()
		let useUserCouponNo = $(":radio[name='userCoupon']:checked").val() 
		*/
		var totalPayPrice = 100;
		var totalPrice = 100;
		// 카카오페이 결제전송
		$.ajax({
			type:'post'
			,url:'/semiOrder/pay'
			,data:{
				total_amount: totalPayPrice
				,payUserName: name
				,totalPrice:totalPayPrice
				,tel:tel
				,email:email
				
			},
			success : 
				function(resData){
					
					location.href = resData;
				}
		})
	})
})


/* ******************* 아임포트 ************************** */
function createOrderNum() {
	const date = new Date();
	const year = date.getFullYear();
	const month = String(date.getMonth() + 1).padStart(2, "0");
	const day = String(date.getDate()).padStart(2, "0");
	
	let orderNum = year + month + day;
	for(let i=0;i<10;i++) {
		orderNum += Math.floor(Math.random() * 8);	
	}
	return orderNum;
}

$('#iamportTest').on('submit', function() {
	function iampayment() {
		const data = {
			orderNum : createOrderNum(),
			name : $("#iamportTest input[name='buyer_name']").val(),
			email : $("#iamportTest input[name='buyer_email']").val(),
			phone : $("#iamportTest input[name='buyer_tel']").val(),
			postcode : $("#iamportTest input[name='buyer_postcode']").val(),
			address : $("#iamportTest input[name='buyer_addr']").val()
		}
		requestPay(data);
	}
	function requestPay() {
		IMP.init("imp34850056"); // 예: imp00000000a
	    IMP.request_pay({
	      pg: "kcp",
	      pay_method: "card",
	      merchant_uid: createOrderNum(),   // 주문번호
	      name: "제발",
	      amount: 10,   // 숫자 타입
	      buyer_email: "[[${session.email}]]",
	      buyer_name: "[[${session.name}]]",
	      buyer_tel: "[[${session.phoneNo}]]",
	      buyer_addr: "[[${session.address}]]",
	      buyer_postcode: "[[${session.postcode}]]",
	    }, function (rsp) { 
	    	console.log(rsp);
	    	if ( rsp.success ) {
		    	var msg = '결제가 완료되었습니다.';
		        msg += '고유ID : ' + rsp.imp_uid;
		        msg += '상점 거래ID : ' + rsp.merchant_uid;
		        msg += '결제 금액 : ' + rsp.paid_amount;
		        msg += '카드 승인번호 : ' + rsp.apply_num;
		    } else {
		    	 var msg = '결제에 실패하였습니다.';
		         msg += '에러내용 : ' + rsp.error_msg;
		    }
		    alert(msg);
		});
	}
	
})



</script>
<body>

	<!-- ---------------카카오 페이 ------------------ -->
	<form action="/semiOrder/pay" method="post" id="kakaopayTest">
		<label>이름</label>
		<input type="text" name="pay-name">
		<label>전화번호</label>
		<input type="tel" name="pay-tel">
		<label>이메일</label>
		<input type="text" name="pay-email">
		
		<button>성공기원</button>
	</form>
	<!-- ----------------- 아임포트 ------------------ -->
	<form id="iamportTest">
		<label>이름</label>
		<input type="text" id="buyer_name">
		<label>전화번호</label>
		<input type="tel" name="buyer_tel">
		<label>이메일</label>
		<input type="text" name="buyer_email">
		<label>우편번호</label>
		<input type="text" name="buyer_postcode">
		<label>주소</label>
		<input type="text" name="buyer_addr">
		<button id="iamportTestbtn">결제하기</button>
	</form>
</body>
</html>