<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<script>
		function fnCheckPwCancel(){
			$('#btnCancel').on('click', function(){
				history.back();
			})
		}
		
		function fnCheckPw(){
			$('#btnCheckPw').on('click', function(){
				$.ajax({
					type:'post',
					url: '/users/checkPw.do',
					data: 'pw=' + $('#pw').val(),
					dataType: 'json',
					success: function(resData){
						if(resData.isCorrect){
							location.href='/users/mypage.do';
						}else {
							alert('비밀번호를 확인하세요.');
						}
					}
				})
			})
		}
		
		$(function(){
			fnCheckPwCancel();
			fnCheckPw();
		})
	</script>
</head>
<body>
	
	<div>
		<div>개인정보 보호를 위해서 비밀번호를 재입력하시길 바랍니다.</div>
		
		<div>
			<label for="pw">비밀번호</label>
			<input type="password" id="pw">
		</div>
		
		<div>
			<input type="button" value="취소" id="btnCancle">
			<input type="button" value="확인" id="btnCheckPw">
		</div>
	</div>
</body>
</html>