<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
<script th:inline="javascript">
  
  // $.cookie() : jquery-cookie 라이브러리가 필요함

  // 로그인하기
  function fnLogin(){
    
    $('#frmLogin').on('submit', function(event){
      
      // 아이디, 비밀번호 공백 검사
      if($('#email').val() == '' || $('#pw').val() == ''){
        alert('아이디와 비밀번호를 모두 입력하세요.');
        event.preventDefault();
        return;
      }
      
      // 아이디 기억을 체크하면 rememberId 쿠키에 입력된 아이디를 저장
      if($('#chkRememberEmail').is(':checked')){
        $.cookie('rememberEmail', $('#id').val());
      } else {
        $.cookie('rememberEmail', '');
      }
      
    });
    
  }
  
  // 쿠키에 기억된 아이디 보여주기(아이디 기억)
  function fnDisplayRememberId(){
    
    // rememberId 쿠키에 저장된 아이디를 가져와서 표시
    
    let rememberId = $.cookie('rememberEmail');
    if(rememberId == ''){
      $('#email').val('');
      $('#chkRememberEmail').prop('checked', false);
    } else {
      $('#email').val(rememberEmail);
      $('#chkRememberEmail').prop('checked', true);
    }
    
  }
  
  $(function(){
    fnLogin();
    fnDisplayRememberId();
  });
  
</script>
</head>
<body>
	<header th:replace="~{/layout/header::oceanHeader}"></header>
	<div>
  
    <h1>로그인</h1>
    
    <form id="frmLogin" method="post" th:action="@{/users/login.do}">
      
      <!-- 로그인 이후에 이동할 주소 -->
      <input type="hidden" name="url" value="@{/index.html}">
      
      <div>
        <label for="email">아이디</label>
        <input type="text" name="id" id="id" textholder="@을 포함한 메일 주소 입력">
      </div>
      
      <div>
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" id="pw">
      </div>
      
      <div>     
        <button>로그인</button>
      </div>
      
      <div>
        <input type="checkbox" id="chkRememberId">
        <label for="chkRememberId">아이디 기억</label>
        <input type="checkbox" name="chkAutologin" id="chkAutologin">
        <label for="chkAutologin">자동 로그인</label>
      </div>
    
    </form>
      
    <div>
      <a th:href="@{/users/findEmail.html}">아이디 찾기</a> | 
      <a th:href="@{/users/findPw.html}">비밀번호 찾기</a> |
      <a th:href="@{/users/agree.html}">회원가입</a>
    </div>
  
  </div>
</body>
</html>