@charset "UTF-8";

@charset "UTF-8";
@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
	}
	
	.logo-top {
	    position: absolute;
	    left: -85px;
	    top: 25px;
	    width: 40%;
	}
	
	.logo-btm {
	    position: absolute;
	    bottom: -250px;
	    right: 25px;
	    width: 40%;
	}	

	.header {
		width: 800px;
		height:40px;
		display: flex;
		justify-content: space-between;
		font-size: 25px;
		margin-left: 350px;
		margin-bottom: 100px;
		margin-top:200px;
	}
	
	.header > a {
		text-decoration: none;
		color: white;
		border-radius: 10px; 
	}
	
	.header > a:hover {
		background-color: black;
	}
	
    .dropdown {
   	position: relative;
   	display: inline-block;
   	
    }
    .dropdown:hover .subMenu {
    	display: block;
    	cursor: pointer;
    }
    
    .subMenu {
    	display: none;
    	position: absolute;
    	background-color: #e9e9e9;
    	width : 100%;
 		z-index: 1;
    }
    
    .subMenu a {
    	display: block;
    	text-align:center;
    	text-decoration : none;
    	width: 100%;
    	height: 100%;
    	margin-top : 10px;
    	margin-bottom: 10px;
    	font-size: 20px;
    	color: black;
    }  
    
    .menu:hover {
    	cursor: pointer;
    }
    
    .menu_1 > a {
    	text-decoration : none;
    	color: black;
    }

	.all {
		width: 1000px;
		height: 930px;
		margin: 0 auto;
	}
	
	.add {
		margin: 0 auto;
		background-color: #d9d9d9;
		width: 900px;
		height: 650px;
		padding-top: 60px;
		padding-right: 50px;
		border-radius: 20px;

	}
	
	.add > div {
		margin-left: 100px;
		margin-top: 40px;
	}
	
	#fileList {
		margin-top:50px;
		width: 800px;
		height: 600px;
		background-color: white;
	}
	
	.btn {
		width: 700px;		
		text-align: center;
		justify-content: center;
		
	}
	
	button {
		font-size: 24px;
		font-family: 'GmarketSansMedium';
		border:1px solid black;
		background-color: #e9e9e9;
		border-radius: 15px;
		margin-left: 20px;
		margin-top: 40px;
	}
	
	button:hover {
	cursor: pointer;
}
	
	.hashtag{
		width: 800px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		line-height: 40px;
	}
	
	#hashtag1{
		display: none;
	}
	
	#hashtag2{
		display: none;
	}
	
	#hashtag3{
		display: none;
	}
	
	#hashtag4{
		display: none;
	}
	
	#hashtag5{
		display: none;
	}
	
	#hashtagtext1{
		display: inline-block;
		width:  120px;
		height: 40px;
	}
	#hashtagtext2{
		display: inline-block;
		width:  120px;
		height: 40px;
	}
	#hashtagtext3{
		display: inline-block;
		width:  120px;
		height: 40px;
	}
	#hashtagtext4{
		display: inline-block;
		width:  120px;
		height: 40px;
	}
	#hashtagtext5{
		display: inline-block;
		width:  120px;
		height: 40px;
	}
	
	.checked {
		background-color: white;
		border-radius: 15px;
	}
	
	#title {
		width: 300px;
		height: 20px;
		border: none;
		outline: none;
		margin-left: 30px;
		background-color: #d9d9d9;
		border-bottom: solid 2px black;
		text-align: center;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
	}
	
	#singer {
		width: 300px;
		height: 20px;
		border: none;
		outline: none;
		margin-left: 30px;
		background-color: #d9d9d9;
		border-bottom: solid 2px black;
		text-align: center;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
	}
	
	#price {
		width: 300px;
		height: 20px;
		border: none;
		outline: none;
		margin-left: 30px;
		background-color: #d9d9d9;
		border-bottom: solid 2px black;
		text-align: center;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
	}
	
	#stock {
		width: 300px;
		height: 20px;
		border: none;
		outline: none;
		margin-left: 60px;
		background-color: #d9d9d9;
		border-bottom: solid 2px black;
		text-align: center;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
	}
	

	
	