
@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container-2 {
	margin-top : 600px;
	width: 100vw;
}
.container-2 * {
	font-family: 'GmarketSansMedium';
	
}
.comment-write {
	display: flex;
	align-items: center;
	justify-content: center;
}
.comment-line {
	width: 800px;
	padding: 1em 1em; 
  	border: 0;
  	border-radius: 10px;
}
.blind {
    display: none;
}
.invisible {
    visibility: hidden;
}
#commentList {
	width: 800px;
	
}
#commentList div span {
	font-size: 12px;
	color: black;
}
input[type=button] {
	background-color: transparent;
	border: 1px solid black;
	
}
.quick-menu {
	position: absolute;
	width: 90px;
	top: 80%;
	margin-top: -50px;
	left : 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
