@charset "UTF-8";
	@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
	
	font-family: 'GmarketSansMedium';
	
	}
	
	div {
	  margin-right: 10px;
	}

	.loginheader {
	padding: 10px;
	justify-content: space-between;
	text-align: right;
	font-size: 14px;
	color: black;
	}


