@charset "UTF-8";
	@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
	
	font-family: 'GmarketSansMedium';
	
	}
	

	.loginheader {
	margin-right: 20px;
	text-align: right;
	font-size: 13px;
	color:white;
	}