@charset "UTF-8";

	@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
	
	@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
	}
	
	.logo-top {
	    position: absolute;
	    left: -85px;
	    top: 25px;
	    width: 40%;
	}
	
	.logo-top img {
		width: 755px;
		height: 155px;
		
	}
	
	.header {
		width: 800px;
		height:40px;
		display: flex;
		justify-content: space-between;
		font-size: 25px;
		margin-left: 350px;
		margin-bottom: 100px;
		margin-top:200px;
	}
	
	.header > a {
		text-decoration: none;
		color: white;
		border-radius: 10px; 
	}
	
	.header > a:hover {
		background-color: black;
	}
	
    .dropdown {
   	position: relative;
   	display: inline-block;
   	
    }
    .dropdown:hover .subMenu {
    	display: block;
    	cursor: pointer;
    }
    
    .subMenu {
    	display: none;
    	position: absolute;
    	background-color: #e9e9e9;
    	width : 100%;
 		z-index: 1;
    }
    
    .subMenu a {
    	display: block;
    	text-align:center;
    	text-decoration : none;
    	width: 100%;
    	height: 100%;
    	margin-top : 10px;
    	margin-bottom: 10px;
    	font-size: 20px;
    	color: black;
    }  
    
    .menu:hover {
    	cursor: pointer;
    }
    
    .menu_1 > a {
    	text-decoration : none;
    	color: black;
    }


	.all{
		width: 800px;
		margin: 0 auto;
	}
	
	.searchbar a {
		margin-left: 10px;
	}
	
	.searchbar {
		width: 750px;
		height: 50px;
		border-top: none;
		border-left: none;
		border-right: none;
		justify-content: space-between;
		
	}
	
	.searchbar_1 {
		width: 700px;
		margin-left: 50px;
	}
	
	#frm {
		border-bottom: solid 2px black;
	}
	
	.searchbar>div {
		height: 50px;
	}
	
	.searchbar>div:nth-of-type(2) {
		margin-right: 10px;
	}
	
	.search-bar__input {
		width: 600px;
		height: 50px;
		border: none;
		outline: none;
		margin-left: 10px;
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
	}
	
	.fa-magnifying-glass {
		font-size: 20px;
		right: 100px;
	}
	
	.btn {
	background-color: transparent;
	border: none;
	height: 50px;
	}	
	
	form {
		margin-top: 10px;
		text-align: center;
	}
	
	.btn1 {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}
	
	.btn1 a {
		text-decoration: none;
		margin-right: 100px;
		color: black;
		font-size: 20px;
	}
	
	.btn {
		border: none;
		background-color: #e9e9e9;
		font-size: 20px;
	}
	
	.btn:hover {
		cursor: pointer;
	}
	
	#btn_1 {
		border: none;
		background-color: #e9e9e9;
		font-size: 18px;
	}
	
	#btn_1:hover {
		cursor: pointer;
	}

	table {
		width: 800px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	
	img {
		width: 250px;
		height: 250px;
	}
	
	.cdHashTag {
		display:flex;
		justify-content: space-between;
		line-height: 100px;
		margin-left: 60px;
	}
	
	.cdHashTag > span {
		text-align:center;
		width: 100px;
		line-height: 40px;
		color:white;
		background-color: black;
		opacity:0.6;
		border-radius: 15px;
	}
	
	.frm_remove button {
		background-color: white;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
		cursor: pointer;
		width: 60px;
	}
	
	.frm_remove button:hover {
		cursor: pointer;
	}
	
	.pagination {
		text-align: center;
		font-size: 18px;
	}
	

	
	
	
	
	