@charset "UTF-8";

@charset "UTF-8";
@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	body {
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
		font-size:16px;
	}
	.logo-top {
	    position: absolute;
	    left: -85px;
	    top: 25px;
	    width: 40%;
	}

	.header {
		width: 800px;
		height:40px;
		display: flex;
		justify-content: space-between;
		font-size: 25px;
		margin-left: 350px;
		margin-bottom: 100px;
		margin-top:200px;
	}
	
	.header > a {
		text-decoration: none;
		color: white;
		border-radius: 10px; 
	}
	
	.header > a:hover {
		background-color: black;
	}
	
    .dropdown {
   	position: relative;
   	display: inline-block;
   	
    }
    .dropdown:hover .subMenu {
    	display: block;
    	cursor: pointer;
    }
    
    .subMenu {
    	display: none;
    	position: absolute;
    	background-color: #e9e9e9;
    	width : 100%;
 		z-index: 1;
    }
    
    .subMenu a {
    	display: block;
    	text-align:center;
    	text-decoration : none;
    	width: 100%;
    	height: 100%;
    	margin-top : 10px;
    	margin-bottom: 10px;
    	font-size: 20px;
    	color: black;
    }  
    
    .menu:hover {
    	cursor: pointer;
    }
    
    .menu_1 > a {
    	text-decoration : none;
    	color: black;
    }
    
    #frm {
    	margin-left: 70px;
    }

	select {
		border: none;
		font-family: 'GmarketSansMedium';
	}
	
	
	.wrap > table {
		margin-top: 30px;
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		border-right: none;
		border-left: none;	
	}
	
	td {
		border-right: none;
		border-left: none;
	}
	
	
	td:nth-of-type(1) {
		width: 20%;
	}
	
	#query {
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
		font-size: 20px;
		margin-right: 40px;
	}
		
	.year {
		font-size: 20px;
	}
	
	
	.btn {
		background-color: white;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
		cursor: pointer;
		width: 60px;		
	}
	
	
	.total {
		font-size: 30px;
	}
	
		
	
	.orderStyle {
	  font-size: 20px;
	  border:solid 1px black;
	}
	
	td:nth-of-type(1) {
		width: 10%
	}
	td:nth-of-type(2) {
		width: 60%
	}
	td:nth-of-type(3) {
		width: 10%
	}
	td:nth-of-type(4) {
		width: 20%
	}
	
	.wrap span {
	 display:inline-block;

	}
	
	.wrap .listyle:nth-of-type(1) {
		font-size : 20px; 
	}
	
	li {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	
	.listyle {
		border-bottom: solid 2px black;
	}
	
	.date {
		width: 150px;
		height: 40px;
	}
	
	.menustyle {
		width: 700px;	
		height: 40px;
	}
	
	.quantity {
		width: 50px;
		height: 40px;
	}
	
	.price {
		width: 100px;
		height: 40px;
	}
	
	.wrap span {
		text-align: center;
	}
	
	.page {
		justify-content: center;
	}
	
	.page > span {
		font-size: 20px;
	}

	
	
