@charset "UTF-8";
	
	.nav_title1 {
	margin-right: 40%;
	}
	
	.nav_ocean_link1 {
	z-index: 1;
	width: 808px;
	
	}
	
	/*a링크 주석1*/
 	.nav_ocean_link3 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link3:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link3:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link3:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	  .nav_ocean_link3 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	
	/*a 링크주석2*/
	
 	.nav_ocean_link2 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link2:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link2:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link2:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	 .nav_ocean_link2 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	/* a링크 주석 3*/
	.nav_ocean_link4 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link4:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link4:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link4:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	  .nav_ocean_link4 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	#new:hover {
  		color: #efefef;
	}

	#new:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}


	body {
	  font-family: lato, sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	}
	
	body {
	  display: flex;
	  height: 100vh;
	  align-items: center;
	  flex-direction: column;
	  background-color: #efefef;
	  background-image: -webkit-linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  background-image: linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	}
	

	#cdTable {
	  display: flex;
	  flex-direction: column;
	  font-family: lato, sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	  height: 50vh;
	  align-items: center;
	  background-color: #efefef;
	  background-image: -webkit-linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  background-image: linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  
	}
	
	
	


	
	#top {
		display: flex;

	}
	
	h1 {
	  position: relative;
	  font-family: cardo, serif;
	  font-size: 2.6em;
	  font-weight: 700;
	  color: #333333;
	  line-height: 1.2em;
	  letter-spacing: 0.03em;
	  margin-bottom: 1.66em;
	  margin-right: 3em;
	}
	
	h1:after {
	  content: '†';
	  display: block;
	  position: absolute;
	  left: 50%;
	  top: 100%;
	  transform: rotateZ(180deg);
	}
	
	p {
	  font-size: 1.2em;
	  line-height: 1.4em;
	  color: #333333;
	}
	
	a {
	  display: inline-block;
	  position: relative;
	  color: #333333;
	  text-decoration: none;
	  padding: 0.2em 0.05em;
	}
	
	a:hover {
	  color: #efefef;
	}
	
	.oceanClicked {
	  background-color: #333333;
	}
	
	/*div 주석 */
	.nav_ocean {
	border-bottom: 2px solid #333333; 
	}
	
	.nav_ocean:hover{
	border-bottom: 2px solid #c0bfbe;
	}
	
	
	/* detail css */
	
	#DetailImg {
		width: 500;
		height: 500;
	
	}
