@charset "UTF-8";
	
	.listContent{
		display: flex;
		flex-direction: row;
	}
	
	.cdList {
		margin-top: 80px;
		display: table-row;
		flex-direction: column;
	}
	
	#cdTable {
	display: flex;
   
   .listContent{
      display: flex;
      flex-direction: row;
   }
   
   .cdList {
      margin-top: 80px;
      display: table-row;
      flex-direction: column;
   }
   
   #cdTable {
   display: flex;
    margin-top: 18px;
    width: 93%;
    padding-left: 422px;
    padding-left: 164px;
    padding-right: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
	}
	
	#cdTable > * {
  margin: 30px;
  margin-top: 20px;
}
	
	#frmSearch {
		display: flex;
		flex-direction: column;
	}
	
	#shopList {
		display: flex;
		flex-direction: column;
		margin-top: -343px;
	}
	
	
	
	.nav_title1 {
	margin-right: 40%;
	}
	
	.nav_ocean_link1 {
	z-index: 1;
	width: 808px;
	
	}
	
	.nav_ocean_link2,
	.nav_ocean_link3,
	.nav_ocean_link4 {
	  background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 500% 100%;
    background-position: 0px 160%;
    transition: background-position 9.9s;
	}
	
	.nav_ocean_link2:after,
	.nav_ocean_link3:after,
	.nav_ocean_link4:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 106%;
	}
	
	.nav_ocean_link2:hover,
	.nav_ocean_link3:hover,
	.nav_ocean_link4:hover {
	  background-position: -200% 200%;
	}
	
	.nav_ocean_link2:hover:after,
	.nav_ocean_link3:hover:after,
	.nav_ocean_link4:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	.nav_ocean_link2,
	.nav_ocean_link3,
	.nav_ocean_link4 {
	  width: 82%;
	  margin: 0 auto;
	  text-align: center;
	
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	#new {
	margin-top: 30px;
	margin-left: 50px;
	}
	
	#new:hover {
  		color: #efefef;
	}
   }
   
   #cdTable > * {
  margin: 30px;
  margin-top: 20px;
}
   
   #frmSearch {
      display: flex;
      flex-direction: column;
   }
   
   #shopList {
      display: flex;
      flex-direction: column;
      margin-top: -343px;
   }
   
   
   
   .nav_title1 {
   margin-right: 40%;
   }
   
   .nav_ocean_link1 {
   z-index: 1;
   width: 808px;
   
   }
   
   .nav_ocean_link2,
   .nav_ocean_link3,
   .nav_ocean_link4 {
     background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 500% 100%;
    background-position: 0px 160%;
    transition: background-position 9.9s;
   }
   
   .nav_ocean_link2:after,
   .nav_ocean_link3:after,
   .nav_ocean_link4:after {
     content: '';
     display: block;
     position: absolute;
     top: 100%;
     right: 0;
     bottom: 0;
     left: 0;
     background: #333333;
     z-index: -1;
     background: -webkit-linear-gradient(#333333, #333333);
     background: linear-gradient(#333333, #333333);
     width: 106%;
   }
   
   .nav_ocean_link2:hover,
   .nav_ocean_link3:hover,
   .nav_ocean_link4:hover {
     background-position: -200% 200%;
   }
   
   .nav_ocean_link2:hover:after,
   .nav_ocean_link3:hover:after,
   .nav_ocean_link4:hover:after {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: #333333;
     z-index: -1;
     background: -webkit-linear-gradient(#333333, #333333);
     background: linear-gradient(#333333, #333333);
   }
   
   .nav_ocean_link2,
   .nav_ocean_link3,
   .nav_ocean_link4 {
     width: 82%;
     margin: 0 auto;
     text-align: center;
   
     @media screen and (max-width: 700px) {
       width: 65%;
     }
   }
   
   #new {
   margin-top: 30px;
   margin-left: 50px;
   }
   
   #new:hover {
        color: #efefef;
   }

   #new:after {
     content: '';
     margin-right: 30px;
     display: block;
     position: absolute;
     top: 100%;
     right: 0;
     bottom: 0;
     left: 0;
     background: #333333;
     z-index: -1;
     background: -webkit-linear-gradient(#333333, #333333);
     background: linear-gradient(#333333, #333333);
   }
   
   #picture {
      margin-left: 100px;
   }

	body {
    font-family: lato, sans-serif;
    font-size: 16px;
    line-height: 0.2em;
	}
	
	
	
	#top {
		display: flex;
		flex-direction: row;
		padding-right: 39px;
	}
   body {
    font-family: lato, sans-serif;
    font-size: 16px;
    line-height: 0.2em;
   }
   
   
   
   #top {
      display: flex;
      flex-direction: row;
      padding-right: 39px;
   }

   #all {
      display: flex;
      flex-direction: column;
      left: 200px;      

	}
	
	h1 {
	  position: relative;
	  font-family: cardo, serif;
	  left: 21%;
	  font-size: 4em;
	  font-weight: 500;
	  color: #333333;
	  line-height: 1.2em;
	  letter-spacing: 0.03em;
	  margin-bottom: 1.66em;
	  margin-right: 1em;
	}
	
	h1:after {
	  content: '†';
	  display: block;
	  position: absolute;
	  left: 22%;
	  top: 100%;
	  transform: rotateZ(180deg);
	}
	
	p {
	  font-size: 1.2em;
	  line-height: 1.4em;
	  color: #333333;
	}
	
	a {
	    display: inline-block;
   }
   
   h1 {
     position: relative;
     font-family: cardo, serif;
     left: 21%;
     font-size: 4em;
     font-weight: 500;
     color: #333333;
     line-height: 1.2em;
     letter-spacing: 0.03em;
     margin-bottom: 1.66em;
     margin-right: 1em;
   }
   
   h1:after {
     content: '†';
     display: block;
     position: absolute;
     left: 22%;
     top: 100%;
     transform: rotateZ(180deg);
   }
   
   p {
     font-size: 1.2em;
     line-height: 1.4em;
     color: #333333;
   }
   
   a {
       display: inline-block;
    position: relative;
    color: #333333;
    text-decoration: none;
    padding: 1.2em 1em;
	}
	
	a:hover {
	  color: #efefef;
	}
	
	.oceanClicked {
	  background-color: #333333;
	}
	
	/*div 주석밑줄 주석 */
	.nav_ocean {
	border-bottom: 2px solid #333333;
	width:260px;
	}
	
	
	.nav_ocean:hover{
	border-bottom: 2px solid #c0bfbe;
	}
   }
   
   a:hover {
     color: #efefef;
   }
   
   .oceanClicked {
     background-color: #333333;
   }
   
   /*div 주석밑줄 주석 */
   .nav_ocean {
   border-bottom: 2px solid #333333;
   width:260px;
   }
   
   
   .nav_ocean:hover{
   border-bottom: 2px solid #c0bfbe;
   }

   
   
   /* detail css */
   #detailImg {
      display: flex;
      width: 300px;
   }
   

	
	
		
	:root {
	  --bg: #ebebeb;
	  --scale: 1.3;
	}
	
	
	
	html {
	  box-sizing: border-box;
	  
	}
	
	body {
	 background: var(--bg);
   
   
      
   :root {
     --bg: #ebebeb;
     --scale: 1.3;
   }
   
   
   
   html {
     box-sizing: border-box;
     
   }
   
   body {
    background: var(--bg);
    min-height: 100vh;
    min-width: 150vh;
    padding: 20% 0%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 50px;
    justify-content: left;
    align-items: center;
    align-content: center;
	  
	}
     
   }
.photo__image,
.photo__feather {
  border-radius: 139px;
    background-position: center;
    width: 300px;
    height: 300px;
}

.photo__image {
  color: rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px, 0 4px 8px -1px, 0 8px 16px -2px, 0 16px 32px -4px, 0 32px 64px -8px, 0 64px 128px -16px;
  background-size: 100% var(--scale);
  z-index: 3;
  display: flex;
  position: relative; /* 추가 */
   border-radius: 139px;
   
}

.photo__feather {
box-shadow: 0 0 10px 10px var(--bg) inset, 0 0 30px 20px #c9c9c9 inset, 0 0 50px 30px #fdfdfd inset;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: -6px;
    right: -10px;
    bottom: -10px;
    z-index: 2;
    opacity: 0.5;
    transform: scale(var(--scale));
     border-radius: 139px;
    
}

	#searchicons:hover {
		cursor: pointer;
	}
	
	#new {
		cursor: pointer;
	}
	
	.cdcCartList {
		width: 200px;
		height: 100px;
	}
   #searchicons:hover {
      cursor: pointer;
   }
   
   #new {
      cursor: pointer;
   }
   
   .cdcCartList {
      width: 200px;
      height: 100px;
   }


.image-wrapper {

  flex-wrap: wrap;
  justify-content: center;
 
  margin: auto;
  margin-bottom: 50px;
}

.media {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.media:hover {
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  border-radius: 139px;
}

.media:hover .overlay {
  opacity: 1;
}

img {
  width: 110%;
  z-index: -1;
  margin: auto;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.media:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.image-details {
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 4;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.media:hover .image-details {
  top: 40%;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .media {
    width: 70%;
    height: 70%;
  }
  

  
 
}