@charset "UTF-8";
	
	.nav_title1 {
	margin-right: 40%;
	}
	
	.nav_ocean_link1 {
	z-index: 1;
	width: 808px;
	
	}
	
	/*a링크 주석1*/
 	.nav_ocean_link3 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link3:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link3:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link3:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	  .nav_ocean_link3 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	
	/*a 링크주석2*/
	
 	.nav_ocean_link2 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link2:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link2:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link2:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	 .nav_ocean_link2 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	/* a링크 주석 3*/
	.nav_ocean_link4 {
    background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
    background-size: 400% 100%;
    background-position: 0 100%;
    transition: background-position 0.9s;
  }
  
	.nav_ocean_link4:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	
  	.nav_ocean_link4:hover {
    background-position: -200% 200%;
	
 	}
 	
	
	
	.nav_ocean_link4:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	  .nav_ocean_link4 {
	  width: 95%;
	  margin: 0 auto;
	  text-align: center;
	  
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	
	#new:hover {
  		color: #efefef;
	}

	#new:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}


	body {
	  font-family: lato, sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	}
	
	body {
	  display: flex;
	  height: 100vh;
	  align-items: center;
	  flex-direction: column;
	  background-color: #efefef;
	  background-image: -webkit-linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  background-image: linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	}
	

	#top {
		display: flex;

	}
	
	h1 {
	  position: relative;
	  font-family: cardo, serif;
	  font-size: 2.6em;
	  font-weight: 700;
	  color: #333333;
	  line-height: 1.2em;
	  letter-spacing: 0.03em;
	  margin-bottom: 1.66em;
	  margin-right: 3em;
	}
	
	h1:after {
	  content: '†';
	  display: block;
	  position: absolute;
	  left: 50%;
	  top: 100%;
	  transform: rotateZ(180deg);
	}
	
	p {
	  font-size: 1.2em;
	  line-height: 1.4em;
	  color: #333333;
	}
	
	a {
	  display: inline-block;
	  position: relative;
	  color: #333333;
	  text-decoration: none;
	  padding: 0.2em 0.05em;
	}
	
	a:hover {
	  color: #efefef;
	}
	
	.oceanClicked {
	  background-color: #333333;
	}
	
	/*div 주석 */
	.nav_ocean {
	border-bottom: 2px solid #333333; 
	}
	
	.nav_ocean:hover{
	border-bottom: 2px solid #c0bfbe;
	}
	
	#cdTable {
	  display: flex;
	  flex-direction: column;
	  font-family: lato, sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	  height: 50vh;
	  align-items: center;
	  background-color: #efefef;
	  background-image: -webkit-linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  background-image: linear-gradient(-225deg, #efefef 0%, #ffffff 100%);
	  
	}
	
	
	/* detail css */
	
	#DetailImg {
		width: 500;
		height: 500;
	}

 	/* container  */

body {
  margin: 0;
  background: lightgray;
  text-align: center;
  font-family:  lato, sans-serif;;
  color: #fefefe;
}
.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}

 /*에스파*/
.carousel__face:nth-child(1) {
  background-image: url("https://img-lb.inews24.com/image_joy/202011/1605227075785_1_150430.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
  /*블랙핑크*/
.carousel__face:nth-child(2) { 
  background-image: url("https://cdn.shown.co.kr/news/photo/202304/714_621_5150.jpg");
 transform: rotateY(240deg) translateZ(430px); } 
 /*뉴진스*/
.carousel__face:nth-child(3) {
  background-image: url("https://cdn.ablenews.co.kr/news/photo/202212/200606_100636_547.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
 /*nct*/ 
.carousel__face:nth-child(4) { 
  background-image: url("https://cdn.bhdw.net/im/nct-dream-members-in-glitch-mode-album-shoot-wallpaper-114220_w635.webp");
    transform: rotateY( 40deg) translateZ(430px); }
 /*방탄*/
.carousel__face:nth-child(5) {
  background-image: url("http://file3.instiz.net/data/cached_img/upload/2018/11/23/15/de1e21aa8b79caab44bcb22ebf5ecd18.jpg");
  transform: rotateY(120deg) translateZ(430px); }
/*아이브*/
.carousel__face:nth-child(6) { 
  background-image: url("https://images.khan.co.kr/article/2023/04/05/news-p.v1.20230405.e87012caa367497b896a6532281ff179_P1.png");
 transform: rotateY(160deg) translateZ(430px); }
/*txt*/ 
.carousel__face:nth-child(7) { 
  background-image: url("https://img.marieclairekorea.com/2021/12/mck_61a86c28e21a5.jpg");
 transform: rotateY(200deg) translateZ(430px); }
/*더보이즈*/
.carousel__face:nth-child(8) {
  background-image: url("http://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/8019/Mgz_Sub_IMG_20200210172654.jpg");
  transform: rotateY(320deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202208/31/newsis/20220831095830293lsfx.jpg");
  transform: rotateY(320deg) translateZ(430px); }


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}




