@charset "UTF-8";
	.nav_title1 {
	margin-right: 40%;
	}
	
	.nav_ocean_link1 {
	z-index: 1;
	width: 808px;
	margin-left: 500px;
	}
	
	.nav_ocean_link2,
	.nav_ocean_link3,
	.nav_ocean_link4 {

	  background: linear-gradient(to right, rgba(20, 20, 20, 0) 50%, #757575, #616161, #424242, #212121);
	  background-size: 400% 100%;
	  background-position: 0 100%;
	  transition: background-position 0.9s;
	}
	
	.nav_ocean_link2:after,
	.nav_ocean_link3:after,
	.nav_ocean_link4:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	  width: 100%;
	}
	
	.nav_ocean_link2:hover,
	.nav_ocean_link3:hover,
	.nav_ocean_link4:hover {
	  background-position: -200% 200%;
	}
	
	.nav_ocean_link2:hover:after,
	.nav_ocean_link3:hover:after,
	.nav_ocean_link4:hover:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}
	
	.nav_ocean_link2,
	.nav_ocean_link3,
	.nav_ocean_link4 {
	  width: 95%;
	  margin: 0 auto;
	  margin-right: 50px;
	  text-align: center;
	
	  @media screen and (max-width: 700px) {
	    width: 65%;
	  }
	}
	

	
	#new:hover {
  		color: #efefef;
	}

	#new:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 100%;
	  right: 50%;
	  bottom: 0;
	  left: 50%;
	  background: #333333;
	  z-index: -1;
	  background: -webkit-linear-gradient(#333333, #333333);
	  background: linear-gradient(#333333, #333333);
	}


	body {
	  font-family: lato, sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	  background-color: lightgray ;
	}
	
	

	#top {
		
		right: 50%;
		left: 50%;
		margin-right: 30px;
	}
	
	
	
	
	p {
	  font-size: 1.2em;
	  line-height: 1.4em;
	  color: #333333;
	}
	
	a {
	  display: inline-block;
	  position: relative;
	  color: #333333;
	  text-decoration: none;
	  padding: 0.2em 0.05em;
	}
	
	a:hover {
	  color: #efefef;
	}
	
	.oceanClicked {
	  background-color: #333333;
	}
	
	/*div 주석 */
	.nav_ocean {
	border-bottom: 2px solid #333333; 
	margin-left: 7em;
	
	}
	
	.nav_ocean:hover{
	border-bottom: 2px solid #c0bfbe;
	}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');

:root {
  --main-color: #9191E9;
  
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}


	#DetailTitle {
	  font-family:'Raleway', sans-serif;
	  font-size: 16px;
	  line-height: 1.2em;
	  background-color: lightgray ;
	  position: relative;
	  font-size: 2.8em;
	  font-weight: 200;
	  color: #333333;
	  line-height: 1.2em;
	  letter-spacing: 0.03em;
	  margin-bottom: 1.66em;
	  margin-left: 19em;
	  margin-right: 18m;
	}
	
	#DetailTitle:after {
	  content: '†';
	  display: block;
	  position: absolute;
	  left: 5%;
	  right: 38%;
	  top: 100%;
	  transform: rotateZ(180deg);
	}
	
	Img{
		margin-top: 60px;
	
	}
.modalbutton {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vh;
  background: rgba(0,0,0,0);
}

.addToCart {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #9191E9;
  padding: 1rem 2rem;
}

.btn:hover {
	cursor: pointer;
}




.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.64s ease-in-out;
}

.popup-inner {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transition: 0.64s ease-in-out;
}

.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.popup__photo img {
  width: auto;
  height: 100%;
}

.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}

.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}

.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.container {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  color: var(--main-color);
  padding: 1rem 2rem;
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0A0A0A;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

#container input{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 1rem 2rem;
}


	