@charset "UTF-8";


	@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

	@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
		background-color: #e9e9e9;
		font-family: 'GmarketSansMedium';
	}
	
	.logo-top {
	    position: absolute;
	    left: -85px;
	    top: 25px;
	    width: 40%;
	}
	
	.logo-btm {
	    position: absolute;
	    bottom: -500px;
	    right: 160px;
	    width: 40%;
	}	

	.header {
		width: 800px;
		height:40px;
		display: flex;
		justify-content: space-between;
		font-size: 25px;
		margin-left: 350px;
		margin-bottom: 100px;
		margin-top:200px;
	}
	
	.header > a {
		text-decoration: none;
		color: white;
		border-radius: 10px; 
	}
	
	.header > a:hover {
		background-color: black;
	}
	
    .dropdown {
   	position: relative;
   	display: inline-block;
   	
    }
    .dropdown:hover .subMenu {
    	display: block;
    	cursor: pointer;
    }
    
    .subMenu {
    	display: none;
    	position: absolute;
    	background-color: #e9e9e9;
    	width : 100%;
 		z-index: 1;
    }
    
    .subMenu a {
    	display: block;
    	text-align:center;
    	text-decoration : none;
    	width: 100%;
    	height: 100%;
    	margin-top : 10px;
    	margin-bottom: 10px;
    	font-size: 20px;
    	color: black;
    }  
    
    .menu:hover {
    	cursor: pointer;
    }
    
    .menu_1 > a {
    	text-decoration : none;
    	color: black;
    }
	.all {
		width:1300px;
		margin: 0 auto;
		
	}
	
	.wrap > table {
		width: 1300px;
		height: 650px;
		border-collapse: collapse;
		margin-top: 30px;
		text-align: center;
		
	}
	
	.wrap > table thead:nth-of-type(1) {
		border-bottom: 3px solid black;
	}
	
	.group {
		display: flex;
	}	

	.fa-magnifying-glass {
		font-size: 20px;
		right: 100px;
	}
	
	.fa-magnifying-glass:hover {
		cursor: pointer;
	}
	
	.btnOut {
		background-color: white;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
		cursor: pointer;
	}	
	
	#column > option {
		background-color: black;
		color: white;
		font-size: 12px;
		font-family: 'GmarketSansMedium';
	}
	#column {
		font-family: 'GmarketSansMedium';
	}
	
	.selectBox {
		width: 130px;
		height: 35px;
		border-radius: 4px;
		border: 2px solid black;
		text-align: center;
	}	
	
	.selectBox #column {
		width: inherit;
		height: inherit;
		background: transparent;
		border: 0 none;
		outline: 0 none;
		padding: 0 5px;
		position: relative;
		z-index: 3; 
	}
	
	.btn {
		background-color: transparent;
		border: none;
		height: 50px;
	}	
	
	.search_query {
		width: 800px;
		height: 20px;
		border: none;
		outline: none;
		margin-left: 30px;
		background-color: #e9e9e9;
		border-bottom: solid 2px black;
		text-align: center;
		font-size: 17px;
		font-family: 'GmarketSansMedium';
	}	
	
	.page {
		font-size: 18px;
	}
	
