<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::oceanHead('song')}"></head>
</head>
<script>
	function fnSportifySearch(){
	    $('#searchBtn').click(function() {	    	
	        $.ajax({
	            url: '/song/spotifysearch',
	            type: 'GET',
	            data: 'q=' + $('#q').val(),
	            dataType: 'json',
	            success: function(resData) {
	                $('#result').text('Artist: ' + resData.artist);
	                $('#result').text('song: ' + resData.song);
	            }
	        });
	    });	
	}
	
	$(function(){
		fnSportifySearch();
	})
</script>

<body>
    <h1>Spotify Search</h1>

	<input type="text" id="q">
    <button id="searchBtn">Search</button>
    <div id="result"></div>

</body>
</html>
