<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::oceanHead('song')}"></head>
</head>
<script>
	function fnSportifySearch(){
	    $('#searchBtn').click(function() {	    	
	        $.ajax({
	            url: '/song/spotifysearch.do',
	            type: 'GET',
	            data: 'q=' + $('#q').val(),
	            dataType: 'json',
	            success: function(resData) {
					$('#result').empty();
	                $('#result').append('검색결과갯수: ' + resData.total);
	                $.each(resData.songList, function(i, song){
		                $('#result').append(song.title);
		                $('#result').append(song.singer);
		                $('#result').append('<img src="' + song.imgUrl +'" width="640" height="480">');
		                $('#result').append(song.preview);
		                $('#result').append('<div>-----</div>');						
					})
	            }
	        });
	    });	
	}
	
	$(function(){
		fnSportifySearch();
	})
</script>

<body>
    <h1>Spotify Search</h1>

	<input type="text" id="q">
    <button id="searchBtn">Search</button>
    <div id="result"></div>

</body>
</html>
