<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- settings -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- typeAliases -->
	<typeAliases>
		<typeAlias alias="CartDetailDTO" type="com.gdu.ocean.domain.CartDetailDTO" />
		<typeAlias alias="CartDTO" type="com.gdu.ocean.domain.CartDTO" />
		<typeAlias alias="CdDTO" type="com.gdu.ocean.domain.CdDTO" />
		<typeAlias alias="HashtagCdDTO" type="com.gdu.ocean.domain.HashtagCdDTO" />
		<typeAlias alias="HashtagDTO" type="com.gdu.ocean.domain.HashtagDTO" />
		<typeAlias alias="OrderDTO" type="com.gdu.ocean.domain.OrderDTO" />
		<typeAlias alias="OutUsersDTO" type="com.gdu.ocean.domain.OutUsersDTO" />
		<typeAlias alias="PlaylistDetailDTO" type="com.gdu.ocean.domain.PlaylistDetailDTO" />
		<typeAlias alias="PlaylistDTO" type="com.gdu.ocean.domain.PlaylistDTO" />
		<typeAlias alias="RecommendDTO" type="com.gdu.ocean.domain.RecommendDTO" />
		<typeAlias alias="ReplyDTO" type="com.gdu.ocean.domain.ReplyDTO" />
		<typeAlias alias="SleepUsersDTO" type="com.gdu.ocean.domain.SleepUsersDTO" />
		<typeAlias alias="SongDTO" type="com.gdu.ocean.domain.SongDTO" />
		<typeAlias alias="UsersDTO" type="com.gdu.ocean.domain.UsersDTO" />
	</typeAliases>

</configuration>