<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/shopHeader::shopHead('welcome')}"></head>
	
	<body>
		<div id="shopList">
			<div class="nav_title1">
				<img th:src="@{/photo/OCEAN.png}" class="nav_ocean_link1" th:onclick="'fnBackground()'" th:ondblclick="'fnOcean()'" >	
			</div>
				<div>
				<div id="all">
					<div id="top">
						<div id="new">
							<h1>Cart</h1>
							<header th:replace="~{layout/shopHeader::shopHeader}"></header>
						</div>
							<div>
								<th:block th:each="cdc,vs:${cartDetailList}">
									<table border="1" width="1300px">
										<tr colspan="4">
											<td>
												<img th:src="@{${cdc.cdNo.mainImg}}" width="200px">
											</td>
											<td>
												<div th:text="${cdc.cdNo.singer}"></div>
												<div th:text="${cdc.cdNo.title}"></div>
												<div th:text="${cdc.count}"></div>
												<div th:text="${cdc.cdNo.price}"></div>
											</td>
										</tr>
									</table>
								</th:block>
								<form action="/order/order" method="get">
									<input type="hidden" name="userNo" th:value="${session.loginUsersNo}">
									<input type="hidden" name="cartNo" th:value="${cartNo}">
									<button>구매하기 찐버튼</button>
									<input type="button" value="구매하기" id="btnCartDetailBuy" class="btnByCartDetail">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			
			
				
			</script>
	
	

	
		
	
</body>
</html>