<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/shopHeader3::shopHead('welcome')}"></head>
<body>

	<header th:replace="~{layout/shopHeader::shopHeader}"></header>
	<!-- 빠진거 : 해시태그, 앨범 설명, 로그인 세션 유무(장바구니, 구매하기 로그인여부에따라) -->
		<div>
			<div class="cdData" border="3">
			   <tr>
			    <td id="cdData1" rowspan="3">
			      <div id="detailImg">
			        <img th:src="${cd.mainImg}">
			      </div>
			    </td>
			  </tr>
	     	
	     	<table id="cdData" border="3">
	     		<tr>
			    	<td id="hashtagName" rowspan="2">
				      <th th:text="${cd.title}"></th>
				   	</td>
				    <td colspan="2"><span id="price">수량</span></td>
				    <td>
				      <button type="button" class="btnBuyCount" onclick="btnPlus()">+</button>
				      <input type="text" name="buyCount" id="buyCount" readonly="readonly" />
				      <button type="button" class="btnBuyCount" onclick="btnMinus()">-</button>
				      <input type="button" value="장바구니" id="cart" class="cart" />
				      <input type="button" value="구매하기" class="detailBuy" />
				      <input type="button" class="keepShopping2" value="짜증" onclick="fnannoy()">
				    </td>
			   	</tr>	
			</table>

		</div>
		
	<div class="modalbutton">
	  <a class="goCart" href="#popup" id="goCart">장바구니</a>
	  <div class="popup" id="popup" >
	    <div class="popup-inner">
	      <div class="popup__photo">
	        <!--/*
		        <img th:src="@{/photo/oceanBlack.jpg}">
	         */-->
	      <img src="https://images.unsplash.com/photo-1515224526905-51c7d77c7bb8?ixlib=rb-0.3.5&s=9980646201037d28700d826b1bd096c4&auto=format&fit=crop&w=700&q=80" alt="">
	      </div>
	      <div class="popup__text">
	      	<div id="oceanModalTxt">
		        <h1>Ocean</h1> 
		        <h2>What's important is an unbreakable heart</h2>
	      	</div>
	      
       	
       	<p>
			"SEA" commonly refers to the body of water surrounding a landmass, while "OCEAN" 
			refers to the vast and deep waters covering 71% of the Earth's surface. Our "OCEAN" 
			represents the immense and far-reaching influence of K-pop. With that concept in mind,
			 we have planned a website.
			The secrets of the ocean are still unknown, and we embark on a journey with Ocean, 
			not knowing what it holds or where it leads. Join us and explore the unknown with Ocean!
		</p>
        
      	<div id="container"> 
	      	<input type="button" id="button" class="button" value="장바구니이동" onclick="fnbutton()">
	      	<input type="button" id="keepShopping" class="keepShopping" value="계속쇼핑하기" onclick="fnkeeShopping()">    		
	      	    		
      	</div>
      </div>
      <a class="popup__close" href="javascript:closeModal()">X</a>
    </div>
  </div>
</div>
	
	<script th:inline="javascript">
	    
	    // 함수 호출
	    fnGetHashtagName();
	    fnBuyCount();
	   
	    
		/********** 해시태그 이름 가져오기 **********/
	    function fnGetHashtagName(){
	    	$.ajax({
	    		type: 'get',
	    		url: '/shop/getHashtagName.do',
	    		data: 'cdNo=[[${cd.cdNo}]]',
	    		dataType: 'json',
	    		success: function(resData){  // resData = [{"name": "new"}, {"name": "hot"}]
	    			let str = '';
	    			$.each(resData, function(i, hashtag){
	    				str += '<span>' + hashtag.name + '</span>';
	    			})
	    			$('#hashtagName').append(str);
	    		}
	    	})
	    }
		/***************************************/
	    
	    
		/********** 장바구니 수량 증가 **********/
		var buyCount = 0;
	    $('#buyCount').val(buyCount);

	    var stock = /*[[${cd.stock}]]*/ null;
	    var price = /*[[${cd.price}]]*/ null;
	    
	    function btnPlus() {
	    	buyCount++;
	    	buyCount = (buyCount <= stock) ? buyCount : stock
	    	$('#buyCount').val(buyCount);
	   	}
	    
	    function btnMinus() {
	    	buyCount--;
	    	buyCount = (buyCount >= 0) ? buyCount : 0;
	    	$('#buyCount').val(buyCount);
	    }
	
	    function fnBuyCount(){
		    $('.btnBuyCount').on('click', function(){
		    	$('#price').text(buyCount * price);
		    })
	    }
		/************************************/

		
		/*cartNo전달 성공시 모달 */
		
		
			
		/*******************************************/
	
		/***************장바구니 이동 이벤트***********/
		
		const modal = document.getElementById('popup');

		function openModal() {
			modal.style.visibility = 'visible';
			modal.style.opacity = '1';
		}
		
		function closeModal() {
			modal.style.visibility = 'hidden';
			modal.style.opacity = '0';
		}
	
		$('#goCart').on('click', function() {
			openModal();
		});
		
		function fnbutton(){
			var loginEmail = /*[[${session.email}]]*/ null;
			
			$.ajax({
				type: 'get',
				url: '/shop/getCartNo.do',
				data:'userNo=[[${session.userNo}]]',
				dataType: 'json',
				success: function(resData) {  
   				
    				if(loginEmail != null){
    					location.href = '/shop/getCartDetail.do?cartNo=' + resData.cartNo  						
    				}else{
    					alert("로그인 후 이용해주세요");
    					location.href='/login.html';
    				}
				},
				error: function(jqXHR) {
					alert('안됨');
				}
			});
		}
		
		
	</script>
	
</body>
</html>