<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/shopHeader::shopHead('welcome')}"></head>
<!-- <head th:replace="~{/layout/header::oceanHead('welcome')}"></head> -->
<body>
		<div class="nav_title1">
    		<img th:src="@{/photo/OCEAN.png}" class="nav_ocean_link1" th:onclick="'fnBackground()'" th:ondblclick="'fnOcean()'" >	
      	</div>
		<div id="top">
			<div id="new">
				<h1>new</h1>
				<header th:replace="~{layout/shopHeader::shopHeader}"></header>
			</div>
			<div id="picture">
				<img th:src="@{/photo/blackpink2.jpg}">
			</div>	
		</div>
		
		
		<div>
			<form id="frmSearch" th:action="@{#}">
				<select name="search" id="search">
					<option value="new">new</option> 
					<option value="artist">artist</option> 
					<option value="hot">hot</option> 
				</select>
			<input type="text" id="searchText" name="searchText">
			<span class="material-icons" onclick="fnSearch()">search</span>
			</form>
		</div>
		<div>
		</div>
		
		
		<div id="cdTable">
			<table>
				<tbody>
					<th:block th:each="cd,vs:${cdList}">
						<tr class="cdList">
							<td id="listMainImg"><a th:href="@{/shop/listDetail.do(cdNo=${cd.cdNo})}"><img th:src="@{${cd.mainImg}}"/></a></td>
							<td><a th:href="@{/shop/listDetail.do(cdNo=${cd.cdNo})}" th:text="${cd.cdNo}"></a></td>
							<td><a th:href="@{/shop/listDetail.do(cdNo=${cd.cdNo})}" th:text="${cd.title}"></a></td>
							<td th:text="${cd.singer}"></td>
							<td th:text="${cd.price}"></td>
							<td th:text="${cd.stock}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		<div th:utext="${pagination}"></div>
		</div>	
	
		
		
		<script>
			function fnBackground() {
				 $('body').css({
					 	'background-image': 'linear-gradient(to top, rgba(0, 3, 30, 1) 40%,  #0C0D0D, #3C3D3E, #A6A5A4, #D8D7D7), url("https://media.tenor.com/RCu7qA-pVOwAAAAd/water-sparkling.gif")',
					    'background-size': 'cover',
				    	'background-blend-mode': 'overlay'
				 }),
				 
				 $('.nav_title1').css({
					 	'color': 'gray'
				 });
			}
			function fnOcean() {
	   			location.href='/index.do';	 
	 		}
		</script>
		
		

</body>
</html>